.container {
background-color: bisque;
width: 400px;
height: 200px;
  margin: 10px;
  padding: 10px;

}

.card {
background-color: brown;
width: 400px;
height: 200px;
border: solid;
border-width: 4px;
border-color: red;
box-shadow: 5px 10px 18px red;
}

.card2 {

    background-color: yellow;
width: 400px;
height: 200px;
border: solid;
border-width: 20px;
border-color: brown;
box-shadow: 5px 10px 18px bisque;
border-style: groove;
}
